.buttons {
    padding: 0px 0px 50px;
    display: inline-block;
}

.buttons__header {
    margin-bottom: 24px;
    font-family: 'roboto_slabregular', sans-serif;
}

.buttons .button {
    margin: 0px 24px 0px 0px;
}