.caption {
    background-color: rgba(94, 94, 94, 0.68);
    padding: 30px;
    color: #fff;
    position: absolute;
    width: 100%;
    bottom: 0;
    box-sizing: border-box;
}

.caption__category {
    font-size: 12px;
}

.caption__title {
    font-family: 'roboto_slabregular', sans-serif;
    font-size: 20px;
}

