.categories {
    display: inline-block;
    margin: 0px 0px -28px -28px;
}

.categories__item {
    display:inline-block;
    position: relative;
    width:370px;
    height: 370px;
    background-color: #383838;
    cursor: pointer;
    margin: 0px 0px 28px 28px;
    text-align: center;
    vertical-align: top;
}

.categories__item:hover {
    background-color:#7fb7e5;   
}

.categories__item--featured {
    background-color: #ffa726;
}

.categories__description {
    position: absolute;
    color:#fff;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
}

.categories__title {
    text-transform: uppercase;
    color:#fff;
    font-size: 24px;
}

.categories__item-icon--photo {
    left: 140px;
}

.categories__item-icon--music {
    left: 155px;
}

.categories__item-icon--travel {
    left: 161px;
    top: 137px;
}

.categories__item-icon--users {
    top: 118px;
    left: 148px;
}
