.contact-details {
    display: inline-block;
    margin: 0px 0px 0px 30px;
    vertical-align: top;
    width: 47%;
}

.contact-details__title {
    font-size: 24px;
    text-align: center;
    font-weight: 400;
    font-family: 'roboto_slabregular', sans-serif; 
    padding: 0px 0px 50px;
}

.contact-details__wrapper {
    margin:0px 0px 0px -30px;
}

.contact-details__form {
    background: #fff;
    padding: 18px 32px 36px;
    box-sizing: border-box;
}

.contact-details__map {
    padding: 0;
}
