.card-contacts {
    display: inline-block;
    vertical-align: top;
    width: 47%;
    background: #fff;
    padding: 25px 32px;
    box-sizing: border-box;
    margin: 0px 0px 0px 30px;
}

.card-contacts__contacts-form {
    margin:38px 0px 0px;
}

.card-contacts--map {
    padding: 0;
}

.card-contacts__description {
    font-size: 15px;
    color:#616161;
    line-height: 1.8em;
}

 .map__img{
    display:block;
}