.content {
  
}

.content__wrapper {
    padding: 80px 0px;
}

.content__wrapper-styles {
    padding: 70px 0px 24px;
}

.content__screen-manifesto {
    background-color: #757575;
    padding: 0;
}

.content__screen {
    background-color:#757575;
    padding:60px 0px;
}

.content__screen-categories {
    padding: 0;
    background-color: #757575;
}

.content__categories {
    padding:80px 0px 68px;
}

.content__breadcrumbs {
    background-color: #000000;
    padding: 75px 0px;
}
.content__description {
    margin:0;
}

.content__title {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    font-family: 'roboto_slabregular', sans-serif;
    margin-bottom:22px;
}
  
.content__description {
    margin:0;
}

