.contacts {
    display:inline-block;
}

.contacts__item {
    display: inline-block;
    position:relative;
    width:55px;
    height: 55px;
    background-color: #181818;
    text-align: center;
    margin-right: 6px;
}

