.html-content h1 {
    font-size: 45px;
    font-weight: 400;
    font-family: 'roboto_slabregular', sans-serif;
}

.html-content h2 {
    font-size: 34px;
    font-weight: 400;
    font-family: 'roboto_slabregular', sans-serif;
}

.html-content h3 {
    font-size: 24px;
    font-weight: 400;
    font-family: 'roboto_slabregular', sans-serif;
}

.html-content h4 {
    font-size: 20px;
    font-weight: 400;
    font-family: 'roboto_slabregular', sans-serif;
}

.html-content h5 {
    font-size: 15px;
    font-weight: 400;
    font-family: 'roboto_slabregular', sans-serif;
}

.html-content p {
    font-size:15px;
    line-height: 26px;
    padding: 20px 0;
}

.html-content ul{
    margin: 20px 60px;    
}

.html-content li {
    list-style-type: disc;
}

.html-content li p {
    padding: 0px;
}

.html-content a{
    color: #f9b322;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 12px;
    position: relative;
    float: right;
}

.html-content.manifesto__social {
    position: absolute;
    bottom: -67px;
}

