.info-block {
    padding: 0px 20px 0px 0px;
}

.info-block + .info-block {
    margin-top: 30px;
}

.info-block__content {
    color: rgba(255, 255, 255, 0.7);
}

.info-block__title {
    font-size: 24px;
    font-weight: 300;
    margin: 0px 0px 21px;
}
