.link {
  
}

.link-more {
    display: inline-block;
    padding: 8px 16px 8px 22px;
    background: #fff;
    text-transform: uppercase;
    color: #f9b322;
    font-size: 15px;
    font-weight: 600;
    border: 1px solid #e0e0e0;
    transform: translate(42%, 48%);
}

.link-more--arrow {
    padding-left: 5px;
}

