body {
    background-color:#fafafa;
}

body,
p {
     font-family: 'roboto', sans-serif;
     font-size:14px;
}

ul,
ol,
li {
    margin:0px;
    padding: 0px;
    list-style: none;
}


/**
 * grid
 */

.container {
    margin:0px auto;
}

.row {
    padding: 35px 0px;
    text-align: center;
}

.column {
    max-width:370px;
    display: inline-block;
    margin: 10px;
    box-sizing: border-box;
}


/**
 * card-styles
 */


.card-wrapper {
    background: #fff;
    border: 1px solid #e0e0e0;
    box-shadow: 0px 0px 2px #737171;
}

.card-header {
    display: block;
    width: auto;
    min-height: 222px;
    background-repeat: no-repeat;
    margin-bottom: 30px;
}

.card-content,
.card-footer {
    padding: 30px;
    line-height: 1.8em;
}

.card-content {
    font-size: 15px;
    padding-bottom: 10px;
}

.card-content__header {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    font-family: 'roboto_slabregular', sans-serif;
}
    
.icon {
    border-radius: 50%;
    width: 110px;
    height: 110px;
    line-height: 110px;
    box-shadow: 0px 4px 8px #737171;
    text-align: center;
}

.icon--center {
    margin: -80px auto -5px;
}

.icon--coffee {
    background-color: #7986cb;
    color: #fff;
}

.card-link__link-more {
    display: block;
    padding: 10px 20px;
    text-align: center;
    background: #fff;
    text-transform: uppercase;
    color: #f9b322;
    font-size: 15px;
    font-weight: 600;
    border: 1px solid #e0e0e0;
    margin: -20px auto -20px auto;
    text-decoration: none;
    width:50%;
}

.card-link {
    border-bottom: 1px solid #e0e0e0;
    width: auto;
    margin:30px 0px 30px 0px;
}

.fa-arrow-right {
    /*ширина для создания дополнительного отступа*/
    width: 15px;
}

.card-footer__avatar {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #bdbdbd;
    overflow:hidden;
}

.card-footer__avatar-position {
   float: left;
   margin: 14px 15px 14px 0px;
}

.avatar-img,
card-footer__avatar-img {
    width:100%;
}

.card-footer__meta {
    float: left;
    color: #bdbdbd;
    font-size:12px;
}

.card-footer__meta-item {
    text-align: left;
}

.fa-comment {
    padding-left: 20px;
}

.clearfix:after,
.clearfix:before {
    display: table;
    content:"";
}

.clearfix:after {
    clear:both;
}


/**
 * pagination styles
 */
.pagination {
    width:100%;
    text-align: center;
    margin:0 auto;
    font-size:24px;
}

.pagination__numbers {
    display: inline-block;
    vertical-align: middle;
    margin: 0 20px;
}

.pagination__arrow {
    color:#ffa726;
}

.pagination__link {
    text-decoration: none;
    color:#333;
}

.pagination__number {
    display:inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 50px;
    text-align: center;
}

.pagination__number + .pagination__number {
    margin-left: 10px;
}

.pagination__number--active {
    background-color: #ffa726;
    border-radius: 50%;
}

.pagination__number--active .pagination__link {
    color:#fff;
}

.pagination__item-arrow {
    vertical-align: middle
}


/**
 * media queries
 */

@media (max-width: 480px) {
  .container {
    width:360px;  
  }
    .row {
     padding: 5px 0px;
    }
}

@media (min-width: 768px) {
  .container {
    width:700px;  
  }
    .row {
     padding: 10px 0px;
    }
}

@media (min-width: 980px) {
  .container {
    width: 800px;
  }
}

@media (min-width: 1380px) {
  .container {
    width: 1178px;
  }
}









