body {
    background-color:#fafafa;
    margin:0px;
    padding:0px;
}

body,
p {
     font-family: 'roboto', sans-serif;
     font-size:14px;
}

p {
    margin:0px;
}

h2 {
    margin:0px;
}

ul,
ol,
li {
    margin:0px;
    padding: 0px;
    list-style: none;
}

a {
    text-decoration: none;
}

/**
 * grid
*/
.header,
.menu,
.logo,
.topheader,
.cards-list,
.footer,
.copyrights{
    margin:0 auto;
}

.cards-list__item {
    max-width: 370px;
    display: inline-block;
    vertical-align: top;
    padding: 35px 0px;
    margin: 0px 25px -40px 0px;
}

.cards-list__item:nth-child(3n+3) {
    margin-right: 0px;
}

/**
 * topheader styles
 */

.page__topheader {
    background-color: #000000;
    margin:0px;
}

.topheader {
    padding: 10px 0px 5px;
}

.topheader__lang-switcher {
    float: left;
}

.topheader__authorize {
    float:right;
}

.authorize__login,
.lang-switcher__item {
    text-transform: uppercase;
    font-size:12px;
    color:#fff;
}

.lang-switcher__item {
    padding-right: 17px;
}

.lang-switcher__item:last-child {
    padding-right: 0px;
}

.authorize__item {
    display: inline-block;
}
.authorize__social{
    display: inline-block;
    background: url(../img/sprites.png);
    background-repeat: no-repeat;
    width:15px;
    height: 15px;
    text-decoration: none;
    margin-left: 15px;
}

.authorize__social--fb {
    background-position: -0px -84px;
    background-repeat:no-repeat;
}

.authorize__social--tw {
    background-position: 0px -130px;
    background-repeat:no-repeat;
}

.authorize__social--g {
    background-position: 0px -109px;
    background-repeat:no-repeat;
}

.authorize__social--tum {
    background-position: 0px -155px;
    background-repeat:no-repeat;
}

.authorize__social--pin {
    background-position: 0px -59px;
    background-repeat:no-repeat;
}


/**
 * logo styles
 */

.logo {
    text-align: center;
    padding: 40px 0px 17px;
}

.logo__book {
    margin-right: 30px;
}

.logo__tagline {
    color:#757575;
    font-size:15px;
    font-family: 'roboto_slabregular', sans-serif;
    margin: 12px 0px;
}


/**
 * menu styles
 */

.menu {
    text-align: center;
    padding: 20px 0px 25px;
}

.menu__item {
    position: relative;
    display: inline-block;
    width: 78px;
    margin-right: 21px;
}

.menu__link{
    text-transform: uppercase;
    color:#212121;
    font-size:15px;
}

/*
.menu__link-active {
    border-bottom: 3px solid #ffa726;
}
*/

a.menu__link.menu__link-active:after {
    content: "";
    display: inline-block;
    border-bottom: 3px solid #ffa726;
    position: absolute;
    width: 75px;
    top: 40px;
    right: 4px;
}


/**
 * header 
 */
.page__header {
    background-color:#757575;
    padding:60px 0px;
}

.header__slider {
    height: 704px;
    position: relative
}

.slider__nav {
    color:#fff;
    position: absolute;
    font-size: 40px;
    top: 329px;
}

.slider__nav--left {
    left:24px;
}

.slider__nav--right {
    right:24px
}

.slider__tile {
    height: 100px;
    background-color: #5e5e5e;
    padding: 30px;
    color: #fff;
    position: absolute;
    width: 100%;
    transform: translate(0%,605%);
    box-sizing: border-box;
    opacity: 0.85;
}

.tile__category {
    font-size: 12px;
}

.tile__title {
    font-family: 'roboto_slabregular', sans-serif;
    font-size: 20px;
}




/**
 * card-styles
 */

.cards-list__content {
    text-align: justify;
}

.page__content {
    padding: 45px 0px 70px;
}

.card {
    background: #fff;
    border: 1px solid #e0e0e0;
    box-shadow: 0px 0px 2px #737171;
}

.card__header {
    display: block;
    width: auto;
    min-height: 222px;
    background-repeat: no-repeat;
    margin-bottom: 30px;
}

.card__content,
.card__footer {
    line-height: 1.8em;
}

.card__content {
    padding: 30px;
    font-size: 15px;
}

.content__title {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    font-family: 'roboto_slabregular', sans-serif;
    margin-bottom:22px;
}
  
.content__description {
    margin:0px;
}

.card__icon {
    position: relative;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    box-shadow: 0px 4px 8px #737171;
    text-align: center;
}

.card__icon-img  {
    position: absolute;
    transform: translate(-50%, 54%);
}

.card__icon--center {
    margin: -80px auto -5px;
}

.card__icon--coffee {
    background-color: #7986cb;
    color: #fff;
}

.card__link {
    border-bottom: 1px solid #e0e0e0;
    width: auto;
    margin-top: -23px;
}

.link__link-more {
    display: inline-block;
    padding: 8px 18px;
    height: 20px;
    background: #fff;
    text-transform: uppercase;
    color: #f9b322;
    font-size: 15px;
    font-weight: 600;
    border: 1px solid #e0e0e0;
    transform: translate(42%, 48%);
}

.link__link-more--arow {
    padding-left: 5px;
}

.card__footer {
    padding: 30px 30px 24px;
}

.card__avatar-layout {
   float: left;
   margin: 18px 12px 5px 0px;
}

.avatar {
    display: block;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: #bdbdbd;
    overflow:hidden;
}

.avatar__img {
    width:100%;
}

.card__meta {
    color: #bdbdbd;
    font-size:12px;
    overflow: hidden;
}

.meta__title {
    font-size:12px;
    margin-bottom: -1.5px;
}

.meta__item {
    text-align: left;
}

.meta__item-heart {
    padding: 0px 6px 0px 0px;
}

.meta__item-comment{
    padding: 0px 6px 0px 26px;
}

.meta__item-comment-tag {
    padding: 0px 8px 0px 0px;
}

.clearfix:after,
.clearfix:before {
    display: table;
    content:"";
}

.clearfix:after {
    clear:both;
}


/**
 * pagination styles
 */

.card-list__pagination {
    width:100%;
    margin: 66px 0px 0px 0px;
}

.pagination {
    text-align: center;
    font-size:24px;
}

.pagination__numbers {
    display: inline-block;
    vertical-align: middle;
    margin: 0 40px;
}

.pagination__arrow {
    color:#ffa726;
}

.pagination__link {
    color:#333;
}

.pagination__number {
    display:inline-block;
    width: 58px;
    height: 58px;
    border-radius: 50%;
    line-height: 50px;
    text-align: center;
}

.pagination__number + .pagination__number {
    margin-left: 10px;
}

.pagination__number--active {
    background-color: #ffa726;
    border-radius: 50%;
}

.pagination__number--active .pagination__link {
    color:#fff;
}

.pagination__item-arrow {
    vertical-align: middle
}



/**
 * footer
 */

.page__footer {
    background-color: #212121;
    color:#fff;
    
}

.footer {
    display: table;
    padding: 60px 0px 10px;
}
    
.footer__section {
    display: table-cell;
    vertical-align: top;
    width: 32%;
    padding:0px;
}


.footer__section:nth-child(2) {
    padding: 0px 28px;
}


.footer__title {
    font-size: 24px;
}

.about {
    margin:20px 0px;
}

.description {
    font-size:14px;
    line-height: 1.8em;
}

.contacts__items {
    display:inline-block;
    padding: 4px 0px;
        
}

.contacts__item {
    display: inline-block;
    position:relative;
    width:55px;
    height: 55px;
    background-color: #181818;
    text-align: center;
    margin-right: 6px;
}

.item__link {
    display: inline-block;
    background: url(../img/sprites_2.png);
    background-repeat: no-repeat;
    width:23px;
    height: 21px;
    text-decoration: none;
    position: absolute;
    top: 0px;
    bottom: 0px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: -6px;
}

.item__link--fb {
    background-position: 0 0;
}

.item__link--tw {
    background-position: 0 -228px; 
}

.item__link--g {
    background-position: 0 -57px; 
    margin-left: -10px;
}

.item__link--tum{
    background-position: 0 -171px; 
}

.item__link--pin{
    background-position: 0 -114px; 
    margin-left: -10px;
}

form {
    margin: 20px 0px;
}

.form__field {
    margin: 20px 0px 52px
}

.form__field:last-child {
    margin: -14px 0px 0px;
}

input[type="text"],
input[type="email"],
 button {
    width: 370px;
    padding: 6px 0px;
    box-sizing: border-box;
    
}

input[type="text"],
input[type="email"] {
    background: transparent;
    border: none;
    border-bottom: 2px solid #9e9e9e;
    font-size: 14px;
}


button {
    background-color:#ffa726;
    border:none;
    border-radius:2px;
    color:#fff;
    text-transform: uppercase;
    height: 40px;
}


.instagram {
    text-align: justify;
    margin: 20px 0px;
}

.instagram__item {
    display: inline-block;
    width:106px;
    height: 111px;
    background-color:yellow;
    margin: 8px;
}

.break {
    width:110px;
    display: inline-block;
    height: 0px;
}

.page__copyrights {
    background-color:#000000;
}

.copyrights {
    padding:24px 0px;
    color:#fff;
}

.copyrights__vendor {
    float: left;
}

.copyrights__other {
    float:right;
}

.copyright__text {
    text-transform: uppercase;
}

.other__link {
    display: inline-block;
    padding: 0px 12px;
}

.link__link {
    color:#fff;
    text-decoration: none;
}



/**
 * media queries
 */

@media (max-width: 480px) {
  .cards-list {
    width:360px;  
  }
    .row {
     padding: 5px 0px;
    }
}

@media (min-width: 768px) {
    .header,
    .menu,
    .logo,
    .topheader,
    .cards-list,
    .footer,
    .copyrights{
    width:700px;  
  }
   
}

@media (min-width: 980px) {
  .header,
  .menu,
  .logo,
  .topheader,    
  .cards-list,
  .footer,
  .copyrights{
    width: 800px;
  }
}

@media (min-width: 1280px) {
  .header,    
  .menu,    
  .logo,    
  .topheader,    
  .cards-list,
  .footer,
  .copyrights{
    width: 1170px;
  }
}









