body,
p {
     font-family: 'roboto', sans-serif;
     font-size:14px;
}

.column {
    width: 370px;
    margin: 0 auto;
    background: #fff;
}

.card-wrapper {
    border: 1px solid #e0e0e0;
    box-shadow: 0px 0px 2px #737171;
}

.card-header {
    display: block;
    width: auto;
    min-height: 222px;
    background-repeat: no-repeat;
    margin-bottom: 30px;
}

.card-content,
.card-footer {
    padding: 30px;
    line-height: 1.8em;
}

.card-content {
    font-size: 15px;
    padding-bottom: 10px;
}

.card-content__header {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    font-family: 'roboto_slabregular', sans-serif;
}
    
.icon {
    border-radius: 50%/50%;
    width: 80px;
    height: 80px;
    box-shadow: 0px 4px 8px #737171;
}

.icon--center {
    margin: -80px auto -5px auto;
    padding: 25px 0px 0px 35px;
}

.icon--coffee {
    background-color: #7986cb;
    color: #fff;
}

.card-link__link-more {
    display: block;
    padding: 10px 20px;
    text-align: center;
    background: #fff;
    text-transform: uppercase;
    color: #f9b322;
    font-size: 15px;
    font-weight: 600;
    border: 1px solid #e0e0e0;
    margin: -20px auto -20px auto;
    width:50%;
}

.card-link {
    border-bottom: 1px solid #e0e0e0;
    width: auto;
    margin:30px 0px 30px 0px;
}

.fa-arrow-right {
    padding-left: 5px;
}

.card-footer__avatar {
    float: left;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%/50%;
    background-color: #bdbdbd;
    margin: 14px 0px;
    overflow:hidden;
}

.avatar-img {
    width:150%;
    margin: 0px -25px 0px -25px;
}

.card-footer__meta {
    float: right;
    width: 80%;
    color: #bdbdbd;
}

.card-footer__meta--date,
.card-footer__meta--stat,
.card-footer__meta--other {
    font-size: 12px;
    line-height: 0.4em;
}

.fa-comment {
    padding-left: 20px;
}

.clearfix {
    clear: both;
}
