/**
 * media queries
 */

@media (max-width: 480px) {
  .container {
    width:360px;  
  }
}

@media (max-width: 600px) {
  .footer__section {
    width:100%;  
  }
}

@media (min-width: 768px) {
    .container {
    width:700px;  
  }
}

@media (min-width: 980px) {
  .container {
    width: 800px;
  }
}

@media (min-width: 1280px) {
  .container {
    width: 1170px;
  }
}









