.meta {
  
}

.meta__title {
    font-size: 12px;
    margin-bottom: -1.5px;
}

.meta__item {
    text-align: left;
}

.meta__item-heart {
    padding: 0px 6px 0px 0px;
}

.meta__item-comment {
    padding: 0px 6px 0px 26px;
}

.meta__item-comment-tag {
    padding: 0px 8px 0px 0px;
}

.meta__author {
    font-size:12px;
    color: #f9b322;
    font-weight: 500;
    padding: 0 10px 0 0;
}
