.subscribe-form {
    margin: 20px 0px;
}

.subscribe-form__row+.subscribe-form__row {
    margin-top: 40px;
}

.subscribe-form__field,
.subscribe-form__button-submit {
    width: 100%;
    padding: 8px 0px;
    box-sizing: border-box;
    color:#fff;
    
}

.subscribe-form__field,
.subscribe-form__button-submit {
    background: transparent;
    border: none;
    border-bottom: 2px solid #9e9e9e;
    font-size: 14px;
}

.subscribe-form__button-submit {
    background-color:#ffa726;
    border:none;
    border-radius:2px;
    color:#fff;
    text-transform: uppercase;
    height: 40px;
    cursor: pointer
}

.subscribe-form__button-submit:hover,
.subscribe-form__button-submit:active {
    background-color:#f09613;
}
