.typography {
    margin: 0px -10px;
    padding: 0 0 20px;
}

.typography--separator {
        border-bottom:1px solid rgb(189, 189, 189); 
}

.typography__title {
    display: inline-block;
    color: #212121;
    width: 583px;
    margin: 0px 5px;
}

.typography__quote>.header__h3 {
     padding: 25px 0;
}

typography__list {
    padding: 0 0 30px;
}

.typography__list .list__item {
    width: 350px;
    display: inline-block;
    vertical-align: top;
    padding: 0 20px;
}




